In [ ]:
import pandas as pd

In [ ]:
grill_details = pd.read_csv('SheetA.csv')
grill_details

In [ ]:
 usr_exp = pd.read_csv('SheetB.csv')
 usr_exp

In [ ]:
usr_pref = pd.read_csv('SheetC.csv')
usr_pref

In [ ]:
#checking for missing values
grill_details.isnull().sum()

In [ ]:
#unique values 
usr_pref.value_counts()
usr_exp.value_counts()

In [ ]:

#no missing values found
usr_pref.isnull().sum()
usr_exp.isnull().sum()

In [ ]:
#Q2.Which grill type is more fuel efficient based on sheetA
grill_details
#Propane grill type is more fuel efficient based on sheetA

  grill_type  pre_heat_time  ...  life_span_year  initial_investment
0   Charcoal           1200  ...               3                  91
1    Propane            480  ...               3                 139

[2 rows x 7 columns]

In [ ]:
#Q3. Which grill type has more market share
#According to sheet A Propane grill type has more market share

In [ ]:
#Q4. Based on the cookoff data which grill type cost more fuel on a long
#Charcoal Costs more fuel in the long run

In [ ]:
#Q9 Json to csv

from pandas.io.json import json_normalize

with open('SheetC.json') as f:
  d = json.loads(f.read())

json_data = json.loads(d[0].get('test_result'))
parsed_data = list()

for i in range(1, len(json_data)):
  flat_json = dict()
  current_row = json_data.get(str(i))
  row_metadata = current_row.get('meta_data')
  for x in row_metadata:
    flat_json[x] = row_metadata[x]
  flat_json['sample_item_index'] = current_row['sample_item_index']
  survey_result = current_row.get('survey_result')
  for x in survey_result:
    flat_json[x] = survey_result[x]
  parsed_data.append(flat_json)
df = pd.DataFrame(parsed_data)
df.head()

  grill_type is_frozen  ... guess_grill_correct  thumbs_up_score
0    Propane     false  ...                true              0.4
1    Propane      true  ...                true              0.8
2    Propane     false  ...                true              0.6
3    Propane      true  ...               false              0.0
4    Propane     false  ...               false              0.2

[5 rows x 6 columns]

In [152]:
df.to_csv('Json_to_csv.csv', index_label='P.key')